{% extends '_base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
            <div class="row">
                <br />
                <div id="top-br">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3" id="search-form">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="sr-only" for="search-input">关键词</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="search-input" placeholder="请输入关键词…" />
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-default" id="search-button" data-loading-text="搜索">搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <div id="bottom-br">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="list-group" id="paper-search-result"></div>
                </div>
                <div class="col-md-6">
                    <div class="list-group" id="book-search-result"></div>
                </div>
            </div>
            
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
